<ion-header class="bar-stable main-bg-color bar bar-header disable-user-behavior">
  <ion-toolbar>

    <ion-buttons end>
      <button ion-button icon-only (click)='goToProfilePage()'>
        <div class="logoImgMenu">
            <img class="animated fadeInLeft" 
            [height]="35" 
            [width]="35"
            [src]="profile?.photo"
            (error)="errorProfilePhoto($event)">
        </div>
      </button>
    </ion-buttons>

    <ion-grid>
      <div>
        <ion-title class="text-white text-center">{{ 'Evento' | translate }}</ion-title>
      </div>
    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content id="single-event" class="action-sheets-basic-page">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="details-img" #banner id="banner">
    <div class="row">
      <br>
      <br>
      <br>
    </div>
    <div class="col padding ">

      <div class="col-10 logoImgHome ">
        <img class="animated fadeInLeft sombraLogo" height="100" width="100" [src]=" getIcon(event) " onError="'assets/img/logo-dummy1.jpg'">
      </div>

    </div>
  </div>

  <div class="det-padding">
    <h4 class="news-title eventTitle">
      {{event.evntName}}
    </h4>
    <div class=" col-40 typeEvent2 center">
      <span>
        {{event.evntCategoria}}
      </span>
    </div>
  </div>

 <ion-row>
  <ion-col class="col">
    <div>
      <div class=" ModuleTittle "> Módulos del evento</div>
    </div>
  </ion-col>

    <ion-col class="col" (click)='goToSingleEventMorePage()'>
      <div class="seeMoreGrey">
      {{ 'VerMas' | translate }}
      </div>
    </ion-col>
  </ion-row>

  <div class="suggestion paddingSuggestion">
    <div *ngFor="let option of options">
      <div class="item-det" *ngIf="option.active === true" (click)="goToPage(option.page)">
        <ion-row class="row">
          <ion-col class="col">
            <div>

              <ion-card class="{{option.image_bg}} card card-md">
                <ion-grid class="grid ">

                  <ion-row class="row ">
                    <ion-col class="col " col-auto="">
                      <div>
                        <div class="circleDoc  text-center">
                          <i class="{{option.icon.ios}}" [innerHTML]="option.icon.code"></i>
                        </div>
                      </div>
                    </ion-col>
                    <ion-col class="col">
                      <div></div>
                    </ion-col>

                  </ion-row>

                  <ion-row class="row">
                    <ion-col class="col">
                      <div class="card-titleDoc  main-text-colorSecond">{{option.text}}</div>
                    </ion-col>
                  </ion-row>

                </ion-grid>
              </ion-card>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>

  <div class="det-padding PaddingDescription">
    <h4 class="sub-heading main-text-color" >{{ 'Sobreevento' | translate }}</h4>

    <p class="ColorGreyText">{{event.evntDescription}}</p>
  </div>
</ion-content>


<ion-footer class="comment-footer sec-main-bg animated slideInUp">
  <ion-grid class="grid">
    <ion-row class="row">
      
      <ion-col class="col LineRight">
        <div class="contentIconTab" (click)="goToSingleEventMorePage()">
          <i class="demo-icon  icon-geventsplus-circled  icontabs text-center">&#xe80b;</i>
          <div class="LabelTabs text-center">{{ 'Más' | translate }}</div>
        </div>
      </ion-col>
      <ion-col class="col LineRight">
        <div class="contentIconTab" (click)="goToFastNotesPage()">
          <div class="dothRed"></div>
          <i class="demo-icon icon-geventsdoc icontabs text-center">&#xe813;</i>

          <div class="LabelTabs text-center">{{ 'Notas' | translate }}</div>
        </div>
      </ion-col>
      <ion-col class="col LineRight">
        <div class="contentIconTab" (click)="goToConferencePersonal()">
          <i class="demo-icon   icon-geventscalendar-empty icontabs text-center">&#xf133;</i>

          <div class="LabelTabs text-center">{{ 'Miagenda' | translate }}</div>
        </div>
      </ion-col>
      <ion-col class="col ">
        <div class="contentIconTab" (click)="goToTickets()">
          <i class="demo-icon   icon-geventsticket-1 icontabs text-center">&#xe94d;</i>

          <div class="LabelTabs text-center">{{ 'ID' | translate }}</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>