<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content class="login-content  ">


 
    <div class="">
      <div class="logo " style="display: -webkit-box;">
        <img class="animated bounceInLeft" [src]="app_instance?.logo">
      </div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h2></h2>
            <h2 class="slide-title animated fadeInUp tittleLogin text-center">Nuestro evento {{estadoConexion}}</h2>
            <div class="lineWhite"></div>
            <p class="paragraphLogin text-center">
              Accede a todas nuestras conferencias
              <br>en la agenda. </p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div *ngIf="false">
        <ion-grid class="grid">
          <ion-row class="row">
            <ion-col class="col">
              <div>
                <p>
                  <button block="" ion-button="" class="disable-hover button button-ios button-default button-default-ios button-block button-block-ios colorFacebook">
                    <span class="button-inner">
                      <i class="demo-icon icon-geventsfacebook-1  ">&#xe959;</i>
                      <!--      <ion-icon is-active="false" name="logo-facebook" role="img" class="icon icon-ios ion-ios-construct" aria-label="construct"></ion-icon> -->
                      <p class="logosIcon"> Facebook </p>
                    </span>
                    <div class="button-effect"></div>
                  </button>
                </p>
              </div>
            </ion-col>
            <ion-col class="col">
              <div>
                <p>
                  <button block="" ion-button="" class="disable-hover button button-ios button-default button-default-ios button-block button-block-ios colorTwitter">
                    <span class="button-inner">
                      <i class="demo-icon icon-geventstwitter-1  ">&#xf309;</i>
                      <!--  <ion-icon is-active="false" name="logo-twitter" role="img" class="icon icon-ios ion-ios-construct" aria-label="construct"></ion-icon> -->
                      <p class="logosIcon"> Twitter</p>
                    </span>
                    <div class="button-effect"></div>
                  </button>
                </p>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <!-- Login -->

      <!--    <ion-grid class="grid">
              <ion-row class="row">
                <ion-col class="col">
                    <div class="list list-inset padding borderXs">

                      <label class="item item-input" style="display: -webkit-box;" style="display: -webkit-box;height: 40px;">
                        <ion-icon ios="ios-mail-outline" md="md-mail" class="placeholder-icon" style="padding-top: 8px;"></ion-icon>
                        <ion-input type="text" placeholder="Correo" name="email" [(ngModel)]="registerCredentials.email" required></ion-input>
                      </label>

                 

                    </div>
                </ion-col>

              </ion-row>
              <ion-row class="row">
                <ion-col class="col">
                    <div class="list list-inset padding borderXs">

                 

                      <label class="item item-input" style="display: -webkit-box;" style="display: -webkit-box;height: 40px;">
                        <ion-icon ios="ios-lock" md="md-lock" class="placeholder-icon" style="padding-top: 8px;"></ion-icon>
                        <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="registerCredentials.password" required></ion-input>
                      </label>

                    </div>
                </ion-col>

              </ion-row>
              <ion-row class="row">
                <ion-col class="col">
                    <div>
                    
                        <button ion-button class="button button-clear button-block main-btn main-bg-color borderXs" full type="submit" [disabled]="!registerForm.form.valid">
                        Inicia sección</button>

                    </div>
                </ion-col>

              </ion-row>
            </ion-grid> -->

      <ion-grid class="grid" style="margin-top: -26px;">
        <!--               <ion-row class="row">
                <ion-col class="col">


          
                  <span class="new-reg main-text-color borderXs" (click)="goToForgotPage()">
                    ¿Olvidé mi contraseña?
                    <button class="main-bg-color button-clear main-btn">
                      si
                    </button>
                  </span>


                </ion-col>

              </ion-row> -->
        <ion-row class="row">


          <ion-col class="col">
            <button block="" ion-button="" class="disable-hover button button-ios button-default button-default-ios button-block button-block-ios btnLogin "
              (click)="goToLoginNative()">
              <span class="button-inner">
                <i class="demo-icon icon-geventsuser-circle-o  ">&#xf2be;</i>

                <!--  <ion-icon is-active="false" ios="ios-contact" md="md-contact" role="img" class="icon icon-ios ion-ios-construct" aria-label="construct"></ion-icon> -->
                <p class="logosIcon"> Login</p>
              </span>
              <div class="button-effect"></div>
            </button>
          </ion-col>

        </ion-row>
        <ion-row class="row">


          <ion-col class="col" style="margin-top: -13px;">
            <button block="" ion-button="" class="disable-hover button button-ios button-default button-default-ios button-block button-block-ios btnLogin "
              (click)="goToRegisterPage()">
              <span class="button-inner">
                <i class="demo-icon icon-geventsmail ">&#xe800;</i>
                <!-- <ion-icon is-active="false" ios="ios-mail-outline" md="md-mail" role="img" class="icon icon-ios ion-ios-construct" aria-label="construct"></ion-icon> -->
                <p class="logosIcon"> Regístrate</p>
              </span>
              <div class="button-effect"></div>
            </button>
          </ion-col>

        </ion-row>

      </ion-grid>
      <div *ngIf="false">
        <ion-grid style="margin-top: -14px;">
          <ion-row>
            <ion-col>
              <div class="lineTerms"></div>
              <p class="paragraphTerms text-center" style=" margin-top: -5px;"> Ver los Términos y Condiciones 2018</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

    </div>
</ion-content>