page-login {

//ion-content{
  //  position: absolute;
   // box-shadow: inset 0 0 0 1000px rgba(159, 42, 36, 0.5)!important;
  //}
    
  ion-content {
		background-image: url('../assets/img/poster.png');
		//-webkit-background-image: url('../assets/img/poster.png');
		-webkit-box-shadow: inset 0 0 0 1000px  $main_color_with_opacity_50;
		box-shadow: inset 0 0 0 1000px  $main_color_with_opacity_50;
		
		background-size: cover;
	  }
}  








.text-white {
  color: white;
}

.text-center {
  text-align: center;
}

.bg-opacity {
  height: 100%;
}

#login-social-network .placeholder-icon:first-child {
  padding-right: 6px;
}

.app-form {
  height: auto;
}

.logosIcon {
  padding: 0px 13px;
}

.colorFacebook {
  background-color: rgb(65, 93, 154) !important;
}

.colorTwitter {
  background-color: rgb(29, 161, 242) !important;
}

.logo {
  padding-top: 66px;
  padding-bottom: 2px;
}

.app-form .main-btn.button-clear.button-clear {
  margin-bottom: 30px;
}

.app-form .item-input {
  height: 24px;
}

.app-form .list-inset {
  padding: 3px;
  min-height: 2px;
  margin: 0;
  background: rgba(0, 0, 0, 0.5);
}

.borderXs {
  border-radius: 7px;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);

  // width:305px; 
  //  height:160px;  
   background:transparent url('../assets/img/poster.png') no-repeat 0 0; 
   -webkit-background-size:cover; 
   box-shadow: inset 0 0 0 1000px  $main_color_with_opacity_50;
   -moz-background-size:cover; 
   -o-background-size:cover; 
   background-size:cover; 
}

.overlayBgVideo{
    //background: $main_color_with_opacity_50;
   
    -webkit-box-shadow: inset 0 0 0 1000px  $main_color_with_opacity_50;
    box-shadow: inset 0 0 0 1000px  $main_color_with_opacity_50;
    background: transparent url(../assets/img/poster.png) no-repeat;
    height: -webkit-fill-available;
    background-size: cover;
    position: relative;
}

.paragraphLogin {
  color: white;
  padding: 1px 40px;
}

.tittleLogin {
  color: white;
}

.btnLogin {
  background-color: rgba(47, 43, 43, 0.45) !important;
}

.paragraphTerms {
  color: #dadada;
  padding: 3px 20px;
}

.lineTerms {
  margin: 0 49px;
  border-top: 1px solid #ffffff9e;
  height: 10px;
}

.lineWhite {
    margin: 0 49px;
    border-bottom: 1px solid #ffffff9e;
  }
