<!--
  Generated template for the AttendantPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header class="main-bg-color">

  <ion-navbar hideBackButton="true">
    <ion-buttons left>
      <!-- <button ion-button navPop icon-only class="text-white" (click)="goHome()"> -->
        
      <button ion-button navPop icon-only class="text-white">
        <i class="demo-icon  icon-geventsleft-open placeholder-icon " style="padding-top: 1px;">&#xe84f;</i>
      </button>
    </ion-buttons>

    <ion-title class="text-white text-center"> Asistentes</ion-title>
    <ion-buttons end>
      <button ion-button icon-only class="text-white">
        <i class="demo-icon   icon-geventssearch-1 placeholder-icon " style="padding-top: 1px;">&#xe89b;</i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="backgroundGrey1">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="BackImageList ">
    <div class="GradientColor">


      <ion-grid class="paddingSearch">
        <!--       <div>
          <ion-searchbar class="searchbar searchbar-ios searchbar-left-aligned">
            <div class="searchbar-input-container">
              <button class="searchbar-md-cancel disable-hover button button-md button-clear button-clear-md button-clear-md-light" clear="" color="light" ion-button="" mode="md" type="button">
                <span class="button-inner">
                  <ion-icon name="md-arrow-back" role="img" class="icon icon-ios ion-md-arrow-back" aria-label="arrow white"></ion-icon>
                </span>
                <div class="button-effect"></div>
              </button>
              <div class="searchbar-search-icon"></div>
                <input class="searchbar-input" dir="auto" placeholder="Buscar" type="search" autocomplete="off" autocorrect="off" spellcheck="false">
                <button class="searchbar-clear-icon disable-hover button button-ios button-clear button-clear-ios" clear="" ion-button="" type="button">
                  <span class="button-inner"></span>
                  <div class="button-effect"></div></button></div>
                  <button class="searchbar-ios-cancel disable-hover button button-ios button-clear button-clear-ios" clear="" ion-button="" mode="ios" type="button" tabindex="-1">
                    <span class="button-inner">Cancel</span>
                    <div class="button-effect"></div>
              </button>
          </ion-searchbar>
        </div> -->



      </ion-grid>
      <ion-grid>
        <ion-row class="row">
          <ion-col class="col">
            <div></div>
          </ion-col>
          <ion-col class="col text-center" col-auto>
            <div class="logoImgPerfil animated tada shadowImg text-center" height="350">
              <img class=" detailsimgSpeaker" [src]="profile?.photo" (error)="errorProfilePhoto($event)">

              <!--  <i class="demo-icon  icon-geventsticket-1  placeholder-icon IconLeft" style="padding-top: 9px;">&#xe94d;</i> -->
            </div>


          </ion-col>
          <ion-col class="col">
            <div></div>
          </ion-col>
        </ion-row>
        <ion-row class="row">
          <ion-col class="col">
            <div></div>
          </ion-col>
          <ion-col class="col text-center" col-6="">
            <div class="TittleName"> {{profile?.nombres}} {{profile?.apellidos}} </div>
            <div class="TittleCargo"> {{profile?.position}}</div>
            <div class="TittleCompany"> {{profile?.company}}</div>
            <div class="CategoriasBtn">

              <span class=""> {{assistants.length}} personas
                <!--   <i class="demo-icon    icon-geventsdown-open placeholder-icon " style="padding-top: 8px;">&#xe84e;</i> -->
              </span>

            </div>
          </ion-col>
          <ion-col class="col">
            <div></div>
          </ion-col>
        </ion-row>
      </ion-grid>


    </div>


  </div>

  <!-- 
  <ion-card class="shadowCards heightCards1 borderCard marginTopCard cardQr">

  <ion-card-content>
                 
    <ion-row>
    <ion-col  >
      <div class="SquareQr">
          <i class="demo-icon   icon-geventsqrcode  placeholder-icon IconQR" style="padding-top: 10px;">&#xe85c;</i>
           <img class="animated bounceIn " height="" width="200" src="assets/img/QRcorp.png"> 
      </div>
    </ion-col>
    </ion-row>
  </ion-card-content>
  </ion-card> -->

  <ion-card class="shadowCards heightCards borderCard marginTopCard">

    <ion-card-content class="paddingCard">
      <ion-grid>
        <ion-row class="row ">
          <ion-col class="lineRight col" (click)='goToContacts()'>
            <div>
              <i class="demo-icon  icon-geventsuser icon100">&#xe86d;</i>
              <div class="date1 text-center">


                Mis <br> contactos

              </div>
            </div>
          </ion-col>
          <ion-col class="lineRight col" (click)='goToFollowers()'>
            <div>
              <i class="demo-icon    icon-geventsuser icon100">&#xe86d;</i>
              <div class="date1 text-center">
                Mis <br> seguidores

              </div>
            </div>
          </ion-col>
          <ion-col *ngIf="false" class="lineRight col" (click)='goToMessage()'>
            <div>
              <i class="demo-icon  icon-geventsmail-1  icon100">&#xe866;</i>
              <div class="date1 text-center">
                Mis Mensajes
              </div>
            </div>
          </ion-col>
          <ion-col class=" col">
            <div class="text-center">
              <!--  <i class="demo-icon    icon-geventsuser-add-1 icon100 IconAsistir">&#xe9d8;</i> -->
              <div class="text-center">
                <ion-toggle value="foo" checked="true" color="energized" class="ColorToggle text-center" style="    margin-left: 16%;"></ion-toggle>
              </div>
              <div class="date1 text-center">


                Redes de trabajo
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card class="shadowCards heightCards borderCard marginTopCard" *ngFor="let assistant of assistants">

    <ion-card-content *ngIf="assistant.idasistente != profile.idasistente" class="paddingCard">

      <ion-row>
        <ion-col col-2 class="paddingTopX" (click)="goToProfileContact(assistant)">
          <div class="logoImgPeople animated tada shadowImg" height="120">
            <img class=" detailsimgSpeaker" [src]="assistant.photo" (error)="errorProfilePhoto($event)">
            <!--  <i class="demo-icon  icon-geventsticket-1  placeholder-icon IconLeft" style="padding-top: 9px;">&#xe94d;</i> -->
          </div>
        </ion-col>
        <ion-col col-8 class="paddingTopXs">

          <div class="textNotification" (click)="goToProfileContact(assistant)">
            <b>{{assistant.nombres}} {{assistant.apellidos}}</b>
          </div>

          <div class="lineNotifications"></div>

          <div class="textDate" (click)="goToProfileContact(assistant)">

            {{ 'verperfil' | translate }}


            <!-- {{assistant.idasistente}} -->

          </div>

          <button ion-button outline icon-start (click)="addFriend(assistant)">

            <ion-icon *ngIf="assistant.estado != 'pendiente'" name='add-circle' is-active="false"></ion-icon>
            <ion-icon *ngIf="assistant.estado == 'pendiente'" name='ios-close-circle' is-active="false"></ion-icon>

            <span [ngSwitch]="assistant.estado">

              <span *ngSwitchCase="'pendiente'">Solicitud enviada</span>

              <span *ngSwitchCase="'pendiente_aceptar'">Aceptar solicitud</span>

              <span *ngSwitchCase="'aceptado'">Eliminar amistad</span>

              <span *ngSwitchDefault>Contacto</span>

            </span>

          </button>

          <button ion-button outline icon-start *ngIf="assistant.estado == 'pendiente_aceptar'" (click)="addFriend(assistant, 'rechazar_solicitud_amistad')">

            <ion-icon name='ios-close-circle' is-active="false"></ion-icon>
            <span> Rechazar solicitud</span>

          </button>

        </ion-col>

        <ion-col col-2 class="paddingTopX text-center">


          <div class="Circle2">

            <button class="icon-btn-container button-clear" item-right clear (click)="goToMessageCreate(assistant)">

              <i class="demo-icon icon-geventsmail-1  placeholder-icon btnUno">&#xe866;</i>

            </button>

            <button class="icon-btn-container button-clear" item-right clear>
              <i class="demo-icon icon-geventsok-circle  placeholder-icon btnUno">&#xeaa9;</i>
            </button>

          </div>
        </ion-col>

      </ion-row>
    </ion-card-content>

  </ion-card>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>