// $base_color: rgb(159, 42, 36); 

// //Monochromatic base color
//     $darkest_shade: rgb(34, 9, 8);
//     $dark_shade: rgb(117, 31, 27);
//     $light_tint: rgb(201, 53, 45);
//     $lighter_tint: rgb(216, 88, 81);
//     $lightest_tint: rgb(225, 128, 123);

// //Triad base color
//     $complement_1: rgb(42, 36, 159); 
//     $complement_2: rgb(36, 159, 42); ; 

// //App color palette
//     //Main color
//         $main_color: $base_color; 
//         $main_color_with_opacity_50: rgba(159, 42, 36, 0.50);
//         $main_color_with_opacity_90: rgba(159, 42, 36, 0.90);
//     //Monochromatic_color
//         $monochromatic_main_color: $light_tint;
//     //Secondary color
//         $secondary_color: rgb(217, 134, 50);
/*$base_color: rgb(9,99,164); 

//Monochromatic base color
    $darkest_shade: rgb(1, 11, 19);
    $dark_shade: rgb(6, 70, 116);
    $light_tint: rgb(12, 128, 212);
    $lighter_tint: rgb(32, 154, 243);
    $lightest_tint: rgb(81, 176, 245);

//Triad base color
    $complement_1: rgb(99, 164, 9); 
    $complement_2: rgb(164, 9, 00); ; 

//App color palette
    //Main color
        $main_color: $base_color; 
        $main_color_with_opacity_50: rgba(9,99,164, 0.50);
        $main_color_with_opacity_90: rgba(9,99,164, 0.90);
    //Monochromatic_color
        $monochromatic_main_color: $light_tint;
    //Secondary color
        $secondary_color: rgb(255,128,0);*/

        

$base_color: rgb(0, 140, 99); 

//Monochromatic base color
    $darkest_shade: rgb(0, 0, 0);
    $dark_shade: rgb(0, 102, 72);
    $light_tint: rgb(0, 204, 144);
    $lighter_tint: rgb(51, 255, 195);
    $lightest_tint: rgb(153, 255, 225);

//Triad base color
    $complement_1: rgb(99, 164, 9); 
    $complement_2: rgb(164, 9, 00); ; 

//App color palette
    //Main color
        $main_color: $base_color; 
        $main_color_with_opacity_50: rgba(0, 140, 99, 0.50);
        $main_color_with_opacity_90: rgba(0, 140, 99, 0.90);
    //Monochromatic_color
        $monochromatic_main_color: $light_tint;
    //Secondary color
        $secondary_color: rgb(255, 255, 255);