<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>32947351738-jppc3atgpl6f82tvc6fg1jlns6gsfonq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32947351738-jppc3atgpl6f82tvc6fg1jlns6gsfonq</string>
	<key>API_KEY</key>
	<string>AIzaSyBY2mcnVyZX4HteqBGoXPV7sJX2mHkM87g</string>
	<key>GCM_SENDER_ID</key>
	<string>32947351738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmediasas.geventsmovil</string>
	<key>PROJECT_ID</key>
	<string>geventsmovil</string>
	<key>STORAGE_BUCKET</key>
	<string>geventsmovil.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32947351738:ios:8919d84a810ecfb1</string>
	<key>DATABASE_URL</key>
	<string>https://geventsmovil.firebaseio.com</string>
</dict>
</plist>