<!-- Generated template for the OrderByComponent component -->
<div id="order-by-container">

  <ion-list class="CategoriasBtn">
    <ion-item>

      <ion-label>

        <span>
          {{sort_component.label}}
        </span>

      </ion-label>

      <ion-select [(ngModel)]="sort_by" interface="popover" (ionChange)="sort()">
        <ion-option 
          *ngFor="let option of sort_component.options"
          [value]="option.value" 
          [selected]="sort_component.sort_by === option.value">
            {{option.label}}
        </ion-option>
      </ion-select>

    </ion-item>
  </ion-list>

  <!-- <ion-item>
    <ion-select 
        [(ngModel)]="sort_by_direction" 
        interface="popover" 
        (ionChange)="setDirection()">
      <ion-option value="asc"  [selected]="sort_component.sort_by_direction === 'asc'">Asc</ion-option> 
      <ion-option value="desc" [selected]="sort_component.sort_by_direction === 'desc'">Desc</ion-option>
    </ion-select>
  </ion-item> -->

</div>    