page-menumodal {

}


#menu-modal .menu_content .item {
    padding-top: 0!important;
    padding-bottom: 0!important;
}
.sizeClose{
	font-size: 25px;
	z-index: 99999 !important;
	    position: absolute;
}