<!--
  Generated template for the SingleEventMorePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="main-bg-color">

  <ion-navbar hideBackButton="true">
    <ion-buttons left>
      <button ion-button navPop icon-only class="text-white">
        <i class="demo-icon  icon-geventsleft-open placeholder-icon " style="padding-top: 1px;">&#xe84f;</i>
      </button>
    </ion-buttons>
    <ion-title class="text-white text-center"> </ion-title>
  </ion-navbar>
</ion-header>



<ion-content>
 <ion-content class="card-background-page content content-ios" style=""><div class="fixed-content"></div><div class="scroll-content">
      <div class="line"></div>
      <ion-grid class="grid backgroundGrey1 grid">
   
        <ion-row class="row row">

          <!--bindings={
            "ng-reflect-ng-for-of": "[object Object],[object Object" *ngIf="option.active === true"
          }-->

          <ion-col class="col col" col-6="" *ngFor="let option of options_available" (click)="goToPage(option.page)">
              
              <ion-card class="{{option.image_bg}}">

                <ion-grid class="grid grid">

                  <ion-row class="row row">

                    <ion-col class="col col">
                      <div></div>
                    </ion-col>

                    <ion-col class="col col" col-auto="">
                      <div>
                        <div class="circle main-bg-Monocromatico">
                          <!-- <ion-icon class="iconCircle icon icon-ios ion-md-calendar" role="img" aria-label="calendar" ng-reflect-ios="md-calendar" ng-reflect-md="md-calendar"></ion-icon> -->
                            <i class="{{option.icon.ios}}" [innerHTML]="option.icon.code"></i>
                        </div>
                      </div>
                    </ion-col>

                    <ion-col class="col col">
                      <div></div>
                    </ion-col>

                  </ion-row>

                </ion-grid>

                <div class="card-title  main-text-colorSecond">{{option.text}}</div>

              </ion-card>
     
          </ion-col>
     
        </ion-row>

      </ion-grid>
      
    </div></ion-content>

</ion-content>
