page-sponsor-detail {

	.linkSitio{
		margin-left: 9%;
	}

	.detailsimgSpeaker{
	    height: auto;
		background: url(../assets/img/AvatarSpeaker.png) no-repeat;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		-webkit-background-size: cover;
		background-size: cover;
		width: 100%;
		padding: 14px 50px;
		background-color: $white;
	}
	.hiddenImg{
		overflow: hidden;
		height: 290px;
	}
	.backgroundGrey1{
		background-color: #f5f5f5 !important;
	}
  	.BackImageList {
	    height: 152px;
	    background: url(../assets/img/cardEvent2.png)no-repeat;
	    background-size: cover;
	    position: relative;
	}
	.searchbar-ios{
		border-bottom: 0.55px solid transparent;
	    background: transparent;
	}
	.GradientColor{
		height: 200px;
		background: $main_bg_color;
	    background: -webkit-gradient(left top, left bottom, color-stop(0%, #489cea), color-stop(77%, rgba(255, 255, 255, 0.01)), color-stop(78%, rgba(255, 255, 255, 0)));
	    background: -webkit-gradient(linear, left top, left bottom, from($main_bg_color), color-stop(77%, rgba(255, 255, 255, 0.01)), color-stop(78%, rgba(255, 255, 255, 0)));
	    background: linear-gradient(to bottom, $main_bg_color 0%, rgba(255, 255, 255, 0.01) 77%, rgba(255, 255, 255, 0) 78%);
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#489cea', endColorstr='#ffffff', GradientType=0 );
	}
	.BackColorWhite{
    // background-color: rgba(255, 255, 255, 0.86);
    /* border-radius: 10px; */
    /* margin: 20px; */
    height: auto;
    /* margin-top: -62px; */
    padding-top: 3px;
	}
	.shadowCards{
		-webkit-box-shadow: 0px 9px 45px -5px rgba(0,0,0,0.36);
		-moz-box-shadow: 0px 9px 45px -5px rgba(0,0,0,0.36);
		box-shadow: 0px 9px 45px -5px rgba(0,0,0,0.36);
	}
	.TittleDetailCard{

	    font-size: 17px;
	    text-align: left;
	    font-weight: 500;
	    margin-left: 13px;
	    color: $main_bg_color_opacity;
	    text-transform: capitalize;
	}
	.labelIcons{
		 padding-left: 13px;
		 color: #676565;

	}
	.RowDetailCard{
		padding: 5px 30px;
	}
	.SubTittle{
		font-size: 18px;
	    font-weight: bold;
	    margin: 2px 0;
	    /* text-align: center; */
	}
	.textCardRow{
		color: gray;
    	text-align: justify;
	}
	.lineCard{
	    margin: 0 35px;
	    border-bottom: 0.5px solid #9a9a9a;
	}
	.shadowIcons{
		-webkit-box-shadow: 0px 9px 45px -5px rgba(0,0,0,0.23);
		-moz-box-shadow: 0px 9px 45px -5px rgba(0,0,0,0.23);
		box-shadow: 0px 9px 45px -5px rgba(0,0,0,0.23);
	}

  
    

	.card-subtitleDoc {
	    font-size: 1.0em;
	    position: absolute;
	    top: 52%;
	    width: 100%;
	    color: #fff;
	}
	.iconCardDoc{
		    font-size: 3.5em;
		    position: absolute;
		    top: 21%;
		    width: 85%;
		    text-align: center;
		   color: #33c5d3;
		    text-shadow: 4px 1px 7px rgba(72, 72, 72, 0.12);
	}
	.circleDoc{
        height:80px;
        width: 80px;
    	border-radius: 50%;

        // background-color: blue;
    }	    
    .iconCircleDoc{
        color: white;
        font-size: 50px;
        padding: 15px;
    }
	.lineCard {
	    margin: 0 5px;
	    border-bottom: 0.5px solid #9a9a9a !important;
	    height: 1px;
	}
	.blur{   
		 -webkit-filter: blur(4px);
	    filter: blur(4px);
	}
	.blurCard{
		background-color: rgba(255, 255, 255, 0.86);
    border-radius: 10px;
    margin: 20px;
    height: auto;
    margin-top: -62px;
    padding-top: 3px;
	}
	.textCategory{
		color: grey;
	}
	.shareIconSpace{
		height:3px;
	}
	.RowItemsCard{
		padding-left: 0px;
		// display: initial;
		display: initial;
	    /* display: -webkit-flex; */
	    // display: -ms-flexbox;
	    /* display: flex; */
	    -webkit-box-orient: horizontal;
	    -webkit-box-direction: normal;
	    -webkit-flex-flow: row nowrap;
	    -ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	    -webkit-flex-shrink: 0;
	    -ms-flex-negative: 0;
	    flex-shrink: 0;
	    -webkit-box-align: center;
	    -webkit-align-items: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -webkit-box-pack: inherit;
	    -webkit-justify-content: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    width: 100%;
    	height: 100%;
    	line-height: 21px;
	}
	.labelIcons{
		 // padding-left: 13px;
		 color: #676565;

	}
	.borderRightGrey{
		border-right: 1px solid rgb(220, 220, 220);
	}
	.paddingSuggestion {
		padding: 2px 20px;
	}
	.PaddingDoc{
		padding: 15px;
	}
	.PaddingLeftPatrocinador{
		padding-left: 13px;

	}
	.BorderBottomGrey{
		padding-bottom: 15px;
   		border-bottom: 1px solid gainsboro;
	}
	.MarginShare{
		margin-top: -18px;
	}
	.ColorDoc1 {
	    // PDF Rojo
	    background-color: rgba(197, 7, 7, 1) !important;
	  }
	  .ColorDoc2 {
	        background-color: rgb(53, 152, 220) !important;
	    // WORD azul 

	  }
	  .ColorDoc3 {
	            background-color: rgba(243, 88, 11, 1) !important;
	    // POWER POINT Rojo

	  }
	  .ColorDoc4 {
	    background-color: rgba(42, 185, 155, 1) !important;
	    // EXCEL  verde

	  }
	.colorCard1Doc{
        // background-image: url(../assets/img/cardEvent1.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        // background-color: rgb(253, 253, 253);
        background: rgba(245,245,245,1);
		background: -moz-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(254,254,254,1) 55%, rgba(254,254,254,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,245,245,1)), color-stop(55%, rgba(254,254,254,1)), color-stop(100%, rgba(254,254,254,1)));
		background: -webkit-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(254,254,254,1) 55%, rgba(254,254,254,1) 100%);
		background: -o-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(254,254,254,1) 55%, rgba(254,254,254,1) 100%);
		background: -ms-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(254,254,254,1) 55%, rgba(254,254,254,1) 100%);
		background: linear-gradient(to bottom, rgba(245,245,245,1) 0%, rgba(254,254,254,1) 55%, rgba(254,254,254,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#fefefe', GradientType=0 );
    }
     .card-titleDoc {
	    // position: absolute;
	   height: 42px;
	    bottom: 20%;
	    /* top: 55%; */
	    /* font-family: inherit; */
	    font-size: 15px;
	    width: 85%;
	    line-height: 19px;
	    font-weight: 400;
	    text-align: center;
	    padding: 2px 5px;
	    // color: white !important;
	    width: 100%;
	    // text-shadow: 4px 1px 7px rgba(72, 72, 72, 0.28);
	    white-space: initial !important;
	    overflow: hidden;
	}
	.LongDivDotWeb{
		    left: 0;
		    /* top: 0; */
		    // padding: 2px 195px 2px 36px;
		    // position: fixed;
			padding: 2px 28px 2px 6px;
			position: relative;
		    width: 100%;
		    height: 50px;
		    -webkit-transform: translateZ(0);
		    transform: translateZ(0);
		    pointer-events: none;
	}

	.LongTextDotWeb{
	    display: block;
	    overflow: hidden;
	    width: 100%;
	    text-overflow: ellipsis;
	    white-space: nowrap;

	}
}
